@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root{
    --background-main-color:#9CA3AF;
    --light-font:#F9FAFB;
    --dark-font:#1F2937;
}

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    margin: 0%;
}


.navbar{
    background-color:var(--background-main-color);
    color: var(--light-font);
    overflow:auto;
    padding: 0 2rem;
}

.unnumbered-link{
    display: inline;
    
}

.navbar li{
    list-style: none;
    float: right;
    padding: .5rem 3rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.hero{
    max-width: 40vw;
    padding: 2rem .5rem;
    margin: auto;
}

.hero h1{
    font-family: 'Fira Sans', sans-serif;
}

img{
    max-width: 60vw;
}
.hero h1{
    color:var( --dark-font) ;
}

.container{
    display: block;
    padding: .5rem 2rem;
}
.container h2{
    color: #4C4981;
    font-size: 2em;

}

.tech{
    margin: 1rem;
    padding: 0;
}

.column{
    display: inline-block;
    margin: .2rem;
    padding: 0 .5rem;
}

.cards{
    float: left;
    width: 15em;
    height: 20em;
    margin: 2rem;
    border-radius: 5px;
    background-color: var(--background-main-color);
}



.cards img{
    display: block;
    object-fit: contain;
    width: 10rem;
    padding-top: 1rem;
    margin: auto;
    height: auto;
    
}

.cards p{
    display: block;
    width: 12rem;
    padding: .2rem;
    margin: auto;
    color: var(--light-font); 
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;  
   
}

.project-container{
    display: block;
    border: 2px solid var(--background-main-color);
    border-radius: 10px;
    max-width: 60vw;
    padding: 2rem 3rem;
    align-items: center;
    margin: auto;
    margin-bottom: .5rem;
}

.project-container img{
    max-height: 40vh;
    width: auto;
    align-items: center;
}

.btn{
    
    background-color: var(--light-font);
    border: 1px solid var(--background-main-color);
    border-radius: 5px;
    padding: .2rem 1rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200; 
   font-size: 1rem;
}
.btn img{
    height: 1.5rem ;
    width: auto;
}


.footer{
    background-color: var(--background-main-color);
    overflow:auto;
    
}



.footer li{
    float:left;
    list-style: none;
    padding: 2rem 3rem;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar li{
        list-style: none;
        float: right;
        padding: .5rem 1rem;
    }

    .hero{
        max-width: 80vw;
        margin: auto;
    }

    .column{
        display: inline-block;
        margin: 0;
        padding: 0 .2rem;
    }

    .cards{
        float: left;
        width: 8rem;
        height: 12rem;
        margin: .5rem;
        border-radius: 5px;
        background-color: var(--background-main-color);
    }

    .cards img{
        display: block;
        object-fit: contain;
        width: 3rem;
        margin: auto;
        height: auto;
    }

    .footer li{
        float:left;
        list-style: none;
        padding: .5rem 1rem;
    }

    .project-container{
        display: block;
        border: 2px solid var(--dark-font);
        width: 80vw;
        padding: 2rem 1rem;
        margin: auto;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  }