@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet');

:root{
    --background-main-color:#9CA3AF;
    --light-font:#F9FAFB;
    --dark-font:#1F2937;
}

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    margin: 0%;
}




.navbar{
    background-color:var(--background-main-color);
    color: var(--light-font);
    overflow:auto;
}

.unnumbered-link{
    display: inline;
    
}

.navbar li{
    list-style: none;
    float: right;
    padding: 2rem 3rem;
}

.hero{
    max-width: 40vw;
    margin: auto;
}

img{
    max-width: 60vw;
}
.hero h1{
    color:var( --dark-font) ;
}

.container{
    display: block;
}
.container h2{
    color: #4C4981;

}

.column{
    display: inline-block;
    margin: 1rem;
    padding: 0 2rem;
}

.cards{
    float: left;
    width: 15em;
    height: 20em;
    margin: 2rem;
    border-radius: 5px;
    background-color: var(--background-main-color);
}



.cards img{
    display: block;
    object-fit: contain;
    width: 10rem;
    margin: auto;
    height: auto;
}

.cards p{
    display: block;
    width: 12rem;
    margin: auto;
    color: var(--light-font);   
}

.project-container{
    display: block;
    border: 2px solid var(--dark-font);
    width: 80vw;
    padding: 5rem 2rem;
    margin: auto;
}

.footer{
    background-color: var(--background-main-color);
    overflow:auto;
    
}



.footer li{
    float:left;
    list-style: none;
    padding: 2rem 3rem;
}